{% extends "emails/base.html.twig" %}

{% block title %}Сброс пароля{% endblock %}

{% block header %}Вами был запрошен сброс пароля для пользователя {{ username }}{% endblock %}

{% block content %}
<p>
    <span>Для сброса пароля нажмите на ссылку:</span>
    <a href="{{ linkHref }}">{{ linkText }}</a>
</p>
{% endblock %}